page-signup {
  #signupPagePictureButtons{
    margin-top: 20px;
    background-color: #32db64;
  }

  #pictureField{
    margin-top: 20px;
    height: 200px;
    margin-bottom: 20px;
  }

  #inputFields{
    margin-top: 2px;
    margin-bottom: 20px;
  }

}
